<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="c8a559a3-6271-4337-8ef7-db644c3aca31" name="TestSuite 1" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="c8a559a3-6271-4337-8ef7-db644c3aca31fileName">TestSuite-1</con:setting>
  </con:settings>
  <con:savedRecentRuns>1</con:savedRecentRuns>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties/>
  <con:reportParameters/>
</con:testSuite>
